@import "helpers/variables";
@import "helpers/mixins";

//  A collection of development only styles, these will be generated dynamically with the backend on production

@include respond-to(mobile) {
	body{
		&:before{
			content: 'mobile screen';
			display: block;
			position: fixed;
			bottom: 0;
			right: 0;
			color: black;
			background: yellow;
			padding: 5px 10px;
			border: thin solid black;
		}
	}
}

@include respond-to(small) {
	body{
		&:before{
			content: 'small screen';
			display: block;
			position: fixed;
			bottom: 0;
			right: 0;
			color: black;
			background: yellow;
			padding: 5px 10px;
			border: thin solid black;
		}
	}
}

@include respond-to(medium) {
	body{
		&:before{
			content: 'medium screen';
			display: block;
			position: fixed;
			bottom: 0;
			right: 0;
			color: black;
			background: yellow;
			padding: 5px 10px;
			border: thin solid black;
		}
	}
}

@include respond-to(large) {
	body{
		&:before{
			content: 'large screen';
			display: block;
			position: fixed;
			bottom: 0;
			right: 0;
			color: black;
			background: yellow;
			padding: 5px 10px;
			border: thin solid black;
		}
	}
}