<div class="caroussel slick-caroussel ">

	{{#each items}}
		<div class='caroussel__item'>

			<div class='caroussel__item-content'>
	
				<div class='caroussel__info'>
					
					<div class='caroussel__info-open'>
						<i class='icon fa fa-angle-down'></i>
					</div>

					<div class='caroussel__info-header'>{{title}}</div>

					<ul class='caroussel__info-list'>
						<li  class='caroussel__info-list-item'>
							<i class='icon fa fa-map-marker'></i>
							<span>Location</span>
						<li>
						<li  class='caroussel__info-list-item'>
							<i class='icon fa fa-user'></i>
							<span>Person</span>
						<li>
					</ul>

					<p class='caroussel__info-body'>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>

					<div class='caroussel__info-footer'>
						<div class='social'>
							<div class='social__title'>Go to the website</div>

							<ul class='social__list'>
								<li class='social__item'>
									<a href='' class='social__link'>
										<i class='icon fa fa-facebook'></i>
									</a>
								</li>	
								<li class='social__item'>
									<a href='' class='social__link'>
										<i class='icon fa fa-twitter'></i>
									</a>
								</li>	
								<li class='social__item'>
									<a href='' class='social__link'>
										<i class='icon fa fa-linkedin'></i>
									</a>
								</li>
								<li class='social__item'>
									<a href='' class='social__link'>
										<i class='icon fa fa-external-link'></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class='caroussel__image' style='background-image:url("{{image}}")'>

				</div>

			</div>

		</div>
	{{/each}}

</div>