<div class="caroussel slick-caroussel ">

	{{#each items}}
		<div class='caroussel__item'>

			<div class='caroussel__item-content'>
	
				<div class='caroussel__info'>
					{{title}}
				</div>

				<div class='caroussel__image' style='background-image:url("{{image}}")'>

				</div>

			</div>

		</div>
	{{/each}}

</div>