<article class='excerpt {{state}}'>

	<div class='excerpt__image-container'>

		<div class='excerpt__image' style='background-image:url("{{image}}")'>
		</div>

	</div>

	<div class='excerpt__content article'>

		{{#if title}}
		<header class='article__header'>
			<h2 class='article__title'>{{title}}</h2>
		</header>
		{{/if}}

		<div class='article__content'>

			<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>

		</div>

		{{> helpers/button title='Read more' link='' icon='fa-arrow-circle-o-right'}}

	</div>



</article>