<div class='grid grid--column-{{colums}}'>

	{{#each items}}
		<div class='grid__item'>

			<div class='grid__item-content'>

				<div class='grid__info'>

				</div>

				<div class='grid__image' style='background-image:url("{{image}}")'>

				</div>

			</div>

		</div>
	{{/each}}

</div>