<section class='leaderboard'>

	<div class='leaderboard__content'>

		{{> helpers/off-canvas}}

		<ul class='leaderboard__list slick-leaderboard'>
			{{#each content.leaderboard.home.items}}
			<li class='leaderboard__image' style='background-image: url("{{image}}")'></li>
			{{/each}}
		</ul>

{{!-- 		<video class="bckgd-video" src="https://player.vimeo.com/external/129589425.hd.mp4?s=31aae396844ad80fad322d9ccc29e9bd&amp;profile_id=113" autoplay="true" loop="true" preload="auto"></video> --}}

		<div class='leaderboard__header'>

			<div class='leaderboard__container'>
				<h1 class='leaderboard__title'>{{content.leaderboard.home.title}}</h1>
				<h2 class='leaderboard__description'>{{content.leaderboard.home.description}}</h2>

				{{> helpers/button title="This is how we work" link='#off-canvas' icon='icon-Enviu_icons_pijl_rechts' type='button--large'}}
			</div>
			
		</div>

		<div class='leaderboard__scrolldown'>
			<a class='leaderboard__scrolldown-link scrolldown--effect' href='#facts'>
				<i class='icon icon-Enviu_icons_scroll_down'></i>
			</a>
		</div>

	</div>

</section>