<section class='leaderboard'>

	<div class='leaderboard__content'>

		<ul class='leaderboard__list slick-leaderboard'>
			{{#each leaderboard.items}}
			<li class='leaderboard__image' style='background-image: url("{{image}}")'></li>
			{{/each}}
		</ul>

		<div class='leaderboard__header'>

			<div class='leaderboard__container'>
				<h1 class='leaderboard__title'>{{leaderboard.title}}</h1>
				<h2 class='leaderboard__description'>{{leaderboard.description}}</h2>
			</div>
			
		</div>

	</div>

</section>