<div class='off-canvas'>
	
	<a class='off-canvas__close' href='#off-canvas-up'>
		<i class='icon fa fa-times'></i>
	</a>

	<section class='section section--how-we-work'>

		<header class='section__header'>
	    	<h2 class='section__header-title'>This is how we work</h2>
		</header>

		<div class='grid grid--column-3 grid--articles'>
			
			<div class='grid__item'>

				<div class='grid__item-content'>

					<div class='cell cell--clean'>

						<header class='cell__header'>
							<img src='images/static/enviu_lamp_white.svg' class='cell__image'/>
							<div class='cell__super-title'>Step one</div>
							<div class='cell__title'>Ideation</div>
							<div class='cell__sub-title'>1-2 months</div>
						</header>

						<div class='cell__content'>

							<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							</p>

						</div>

					</div>

				</div>

			</div>

			<div class='grid__item'>

				<div class='grid__item-content'>
					
					<div class='cell cell--clean'>

						<header class='cell__header'>
							<img src='images/static/enviu_roset_white.svg' class='cell__image'/>
							<div class='cell__super-title'>Step two</div>
							<div class='cell__title'>Validation</div>
							<div class='cell__sub-title'>8-16 months</div>
						</header>

						<div class='cell__content'>

							<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							</p>

						</div>

					</div>

				</div>

			</div>

			<div class='grid__item'>

				<div class='grid__item-content'>
					
					<div class='cell cell--clean'>

						<header class='cell__header'>
							<img src='images/static/enviu_raket_white.svg' class='cell__image'/>
							<div class='cell__super-title'>Step three</div>
							<div class='cell__title'>Startup</div>
							<div class='cell__sub-title'>2 years</div>
						</header>

						<div class='cell__content'>

							<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							</p>

						</div>

					</div>

				</div>

			</div>

		</div>

		{{> helpers/button title="Learn more about us" link='about.html' icon='icon-Enviu_icons_pijl_beneden' type='light'}}

	</section>
</div>