<blockquote class='quote'>
	<header class='quote__header'>
		<i class='icon fa fa-quote-left'></i>
	  	<div class='quote__body'>{{body}}</div>
	  	<i class='icon fa fa-quote-right'></i>
	</header>
  	<footer class='quote__footer'>
  		<div class='quote__person'>{{person}}</div>
  		<div class='quote__source'>{{source}}</div>
		<div class='quote__button'>{{> helpers/button title='Read more' link='{{link}}' icon='icon-Enviu_icons_pijl_rechts'}}</div>
  	</footer>
</blockquote>