{{!-- Keep this markup in sync with the 'social-follow' in the header.hbs, that one uses different icons --}}
<ul class='social-follow'>
	<li class='social-follow__item'>
		<a class='social-follow__link' href=''>
			<i class='icon icon-Enviu_icons_facebook_circle'></i>
		</a>
	</li>
	<li class='social-follow__item'>
		<a class='social-follow__link' href=''>
			<i class='icon icon-Enviu_icons_twitter_circle'></i>
		</a>
	</li>
	<li class='social-follow__item'>
		<a class='social-follow__link' href=''>
			<i class='icon icon-Enviu_icons_linkedin_circle'></i>
		</a>
	</li>
</ul>