.footer{
	color: $white;
	background-color: $grey;
}

.footer__main{
	padding-top: 3em;
	padding-bottom: 3em;
}

.footer__main-container{
	@extend %container;
}

.footer__sub{
	background-color: $black;
}

.footer__sub-container{
	@extend %container;
	text-align: right;
}

.footer__logo,
.footer__links{
	display: inline-block;
	vertical-align: middle;
}

.footer__logo{
  	padding: 0 .5em 0 0;
  	text-decoration: none;
  	color: inherit;
  	margin-top: -10px;
  	width: 100px !important;
  	height: 60px;
  
	@include logo();
}

.footer__links{
}

.footer__item{
	display: inline-block;
	margin: 0 2em;
}

.footer__link{
	color: inherit;
	text-decoration: none;
}

.footer__copyright{
	text-transform: uppercase;
	margin-top: 1em;
	@include setType(4, $ms-down1);
}