.header{
	color: $white;
}

.header__main{
	line-height: 5em;
	background-color: $theme;
}

.header__sub{
	background-color: rgba($theme-dark, 0.9);
	text-align: right;
	position: relative;
	z-index: 3;
}

.header__main,
.header__sub{
	&-container{
		width: 100%;
	}
}

.header__sub{
	&-container{
		padding: 0 $horizontal-padding;
	}
}

.header__logo{
 	display: inline-block;
  	margin-right: .5em;
  	text-decoration: none;
  	line-height: inherit;
  	color: inherit;
  	margin-top: -10px;
  
	@include logo();
}

.header__logo,
.header__navigation,
.header__search{
	display: inline-block;
	vertical-align: middle;
}

.header__right{
	float: right;


	.social-follow__item{
		margin-right: 1.5em;
	}
}

.header__search{
	font-size: 1.5em;
	padding: 0 1em;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	cursor: pointer;

	&:hover{
		color: $theme-dark;
	}
}

.header__search-label{
	margin-right: .3em;
	font-weight: 700;
	vertical-align: middle;
	display: inline-block;
}

.header__quicklinks{
	color: $yellow;
	overflow: hidden;
	width: 100%;
}

.header__quicklinks-item{
	float: right;

	&:hover,
	&.active{
		background-color: darken($theme-dark, 5%);
	}
}

.header__quicklinks-link{
	text-decoration: none;
	color: inherit;
	padding: 0 .5em;
	display: block;

	.icon{
		font-size: inherit !important;
	}
}

.header__searchbar{
	position: absolute;
	top: 100%;
	right: $horizontal-padding;
	margin-top: $horizontal-padding;
	font-size: 1.8em;
	line-height: 3em;
}


.header__searchbar-form{
	overflow: hidden;
	max-width: 0;
	transition: max-width $transition-duration;
	float: right;
	background-color: $theme;
	border-radius: 6px;

	.main--searchbar &{
		max-width: 100%;
	}
}

.header__searchbar-label{
	background-color: $theme-light;
	height: 100%;
	display: block;
	float: right;
	padding: 0 1em;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	margin-left: 1em;
	cursor: pointer;

	&:hover{
		background-color: $theme-dark;
	}
}

.header__searchbar-field{
	display: block;
	width: auto;
	overflow: hidden;
	float: none;
	margin-left: 1em;

	input{
		background: transparent;
		border: none;
		outline: none;
		border-bottom: thin solid white;
	}
}


@include respond-to(mobile) {
	.header__main,
	.header__sub{
		&-container{
			min-width: 0;
			max-width: none;
		}
	}

	.header__navigation{
		display: block;
		margin-left: 1em;
	}

	.navigation__link{
		padding: 0 .7em !important;
	}

	.header__sub{
		text-align: left;
	}

	.header__right{
		float: none;

		.header__search{
			float: left;
			margin-right:  1em;
		}
	}

	.header__quicklinks{
		padding-left: 1em;
	}

	.header__quicklinks-link{
		padding: .5em;
	}
}

@include respond-to(desktop) {
	.header{
		// position: absolute;
		// width: 100%;
		// top: 0;
		// z-index: 10000;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 5;
	}
}