.article{
	overflow: hidden;

	&--lead{
		.article__content{
			color: $theme;
			@include setType(4, $ms-up1);
		}
	}

	&--page{
		.article__content{
			p:first-of-type,
			> h1,
			> h2,
			> h3,
			> h5,
			> h6{
				color: $theme;
				font-weight: normal;
				@include setType(4, $ms-up1);
			}

			p,
			> h1,
			> h2,
			> h3,
			> h5,
			> h6{
				@extend %container-narrow;
			}

			> h1,
			> h2,
			> h3,
			> h5,
			> h6{
				margin-top: 3em;
			}

			p{
				margin-bottom: 2em;
			}
		}
	}

	&--news{
		.article__header{
			margin-bottom: 2em;
		}

		.article__title{
			@include setType(4, $ms-up2);
		}

		.article__image{
			margin-bottom: 2em;
		}
	}
}

.article__header{
	@include setType(4, $base-em-font-size);

	font-weight: 700;
	color: $theme;
}

.article__title{
	@include setType(4, $base-em-font-size);
}

.article__description{
	color: $black;
	@include setType(4, $ms-up1);
}

.article__content{
	p{
		img{
			float: left;
			margin-right: 2em;
		}
	}
}



