.button{
	background-color: $theme;
	color: white;
	text-decoration: none;
	padding: .2em .8em;
	border-radius: 4px;
	display: inline-block;
	line-height: inherit;

	@include bold();

	.icon{
		margin-left: .5em;
	}

	&.active,
	&:hover{
		background-color: $theme-dark;
	}

	&--large{
		padding: .2em 1em;
	}

	&--light{
		background-color: $white;
		color: $theme;

		&.active,
		&:hover{
			background-color: $white;
			color: $theme-dark;
		}
	}
}