.caroussel{
	height: 20em;
	margin-left: 4em;
	margin-right: 4em;
}

.caroussel__item{
	padding: 0 1.5em;

	&:hover{
		.caroussel__info{
			top: 5em;
		}
	}
}

.caroussel__item-content{
	position: relative;
	width: 100%;
	height: 100%;
}

.caroussel__image,
.caroussel__info{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.caroussel__image{
	background-repeat: none;
	background-size: cover;
	background-position: center center;
	border-radius: $border-radius;
}

.caroussel__info{
	z-index: 1;
	top: 13.5em;
	background: $grey-lighter;
	padding: 1em;
	transition: all $transition-duration;
	border-bottom-left-radius: $border-radius;
	border-bottom-right-radius: $border-radius;
	position: relative;
}

.caroussel__info-open{
	position: absolute;
	bottom: 100%;
	left: 1em;
	background: $grey-lighter;
	padding: 0 .5em;
	color: $theme;
	font-size: 1.2em;
	border-radius: $border-radius;
	margin-bottom: -.7em;

	.icon{
		vertical-align: baseline;
		font-size: 1.5em;
	}
}

.caroussel__info-header{
	@include setType(4, $ms-up1);
	font-weight: 700;
	width: 100%;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.caroussel__info-list{
	margin-bottom:  1em;
	min-height: 2.75em;
}

.caroussel__info-list-item{
	line-height: 1.4em;

	.icon{
		margin-right: .3em;
		font-size: 1.1em;
	}
	
	.icon,
	span{
		display: inline-block;
		vertical-align: middle;
	}
}

.caroussel__info-body{
	@include setType(2.5, $base-em-font-size);
	height: 3.8 * $base-em-font-size;
	overflow: hidden;
	margin-bottom: 1em;
}

.caroussel__info-footer{

	.social-share{
		background: transparent;
		padding: 0;

		.social-share__list{
			vertical-align: middle;
		}

		.social-share__title{
			display: inline-block;
			vertical-align: middle;
			color: $theme;
			width: 5em;
			line-height: 1em;
			margin-left: 1em;
		}

		.social-share__item{
			color: $theme;
			margin-right: 0;
		}

		a[href]{
			text-decoration: none;
		}
	}
}


@include respond-to(mobile) {
	.caroussel{
		margin-left: 0;
		margin-right: 0;
	}
}