.ninja-forms-form{

	label{
		color: $grey-light;
	}

	input[type='submit']{
		border: none;
		background: transparent;
	}

	.ninja-forms-required-items{
		display: none;
	}
}

.form__input,
.form__textarea{
	color: $grey;
	margin-bottom: 1.1em;
	border-radius: $border-radius;;
	border: thin solid $theme;
	line-height: 2em;
	padding: 0 1em;
	outline: none;

	&:focus{
		color: $black;
	}
}