.navigation{
	color: $white;
}

.navigation__list{

}

.navigation__item{
	display: inline-block;
	float: left;

	&:hover,
	&.active{
		background-color: rgba($theme-dark, .6);
	}
}

.navigation__link{
	text-decoration: none;
    text-transform: lowercase;
    font-weight: 700;
    color: inherit;
	line-height: inherit;
	display: block;
	padding: 0 1.5em;
}