.off-canvas{
	background: $theme;	
	color: $white;
	height:  0%;
	width: 100%;
	visibility: hidden;
	transition: all $transition-duration;
	text-align: center;
	margin-top: -1em;

	.admin-bar &{
		&,
		.off-canvas__close{
			margin-top:  $wp-admin-bar-height; 
		}

		@media screen and ( max-width: 782px ) {
			&,
			.off-canvas__close{
				margin-top:  $wp-admin-bar-height-plus;
			}
		}
	}

	.main--off-canvas &{
		visibility: visible;
		height: 100%;
	}

	.section{
		height: 100%;

		.button{
			margin-top: 0;
		}
	}

	.section__header{
		color: $white;
	}

	.cell__header{
		&,
		> *{
			color: $white;
		}
	}

	.cell__image{
		height: 150px;
	}

	.off-canvas__close{
		position: absolute;
		top: 4em;
		right: 2em;
		color: $white;
	}

	@include respond-to(mobile) {
		display: none;
	}

}