// See https://mango.github.io/slideout/

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
  left: auto;
}

.slideout-panel {
  position: relative;
  z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

// .slideout-open .slideout-panel {
//   top: 0!important;
//   overflow: auto !important;
// }

.slideout-open .slideout-menu {
  display: block !important;
}