.social{
	background-color: $theme;
	color: $white;
	padding: .5em 1em;
	border-radius: $border-radius;
	display: inline-block;
}

.social__title{
	display: inline-block;
	color: $yellow;
	margin-right: 1em;
	font-weight: 700;
}

.social__list{
	display: inline-block;
}

.social__item{
	display: inline-block;
	vertical-align: middle;
	margin-right: .5em;
	border-radius: 50%;
	border: 1em solid white;
	width: 1em;
	height: 1em;
}

.social__link{
	position: relative;
	text-transform: none;
	color: $theme;
	width: 2em;
	height: 2em;
	display: block;
	top: -1em;
	left: -1em;
	font-size: .8em;
	text-align: center;

	&:hover{
		color: $theme-dark;
	}
}