.main{

	&--home{

		.leaderboard{
			height: 100vh;
			top: 0;

			&:before{
				display: none;
			}
		}

		.leaderboard__header{
			top: 6em;
			bottom: auto;
		}

		.leaderboard__container{
			min-width: 0;
			max-width: none;
			width: 30em;
			margin-left: 4em;

			.button{
				margin-top: 3em;
			}
		}

		.main__container{
			padding-top: 0;
		}

		.footer{
			position: relative;
		}
	}

	&--contact{

		.contact__header{
			color: $theme;
		}

		.contact__details{
			margin-bottom: 2em;

			.icon,
			span{
				display: inline-block;
				vertical-align: middle;
			}

			.icon{
				color: $theme;
				margin-right: 1em;
			}

			a{
				color: inherit;
				text-decoration: none;

				&:hover{
					color: $theme;
				}
			}
		}

		.contact__form-left,
		.contact__form-right{
			width: 45%;
			display: inline-block;
			vertical-align: top;
		}

		.contact__form-right{
			margin-left: 5%;
		}
	
		.form__input,
		.form__textarea{
			display: block;
			width: 100%;
		}

		.form__textarea{
		}

	}

	// Wordpress classes..
	&.search{
		.section__header{
			text-align: left;
		}

		.section__header-description{
			@include setType(4, $ms-up1);
			font-weight: bold;
		}
	}

	&.admin-bar{
		.header { top: $wp-admin-bar-height; }
		@media screen and ( max-width: 782px ) {
			.header { top: $wp-admin-bar-height-plus; }
		}
	}

}

@include respond-to(mobile) {

	html{
		margin-top: 0 !important;
	}

	.main{

		&--home{

			.leaderboard__container{
				width: 100%;
				margin-left: 0;
			}
		}

		&--contact{
			.contact__form-left,
			.contact__form-right{
				width: 100%;
				display: block;
				margin-left: 0;
			}
		}

		&.admin-bar{
			.wpadminbar{
				display: none;
			}
		}

	}
}

@include respond-to(tablet) {
	.main{

		&--home{


		}
	}
}

@include respond-to(desktop) {

	.main{

		&--home{

			.leaderboard__header{
				top: 50%;
				margin-top: -10em;
				bottom:  auto;

				.leaderboard__title{
					@include setType(4, $ms-up4);
				}
			}

			.content > .section{
				height: 100vh;
				padding-top: 5em;
				margin-top: 0;
				margin-bottom: 0;
			}

			.leaderboard{
				position: fixed;
				width: 100%;
				max-height: none;
			}

			.main__container{
				position: relative;
				top: 100vh;
			}

			.content{
				position: relative;
				background: $white;
			}

			.section{
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
}
