
// BOB:20150727, some overrides to make slick work
// http://kenwheeler.github.io/slick/
.slick-list,
.slick-track{
    height: 100%;
}

.slick-arrow{
    position: absolute;
    z-index: 1;
    top: 50%;
    margin-top: -3em;
    background: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    color: transparent;
    width: 4em;
    text-align: center;

    &:before{
        font-family: FontAwesome;
        color: white;
        font-size: 4em;
        transition: all $transition-duration;
        opacity: .75;
    }

    &:hover{
        &:before{
            opacity: 1;
            transform: scale(1.2);
        }
    }
}

.slick-prev{
    left: 15px;
    &:before{
        content: '\f104';
    }
}

.slick-next{
    right: 15px;
    &:before{
        content: '\f105';
    }
}

.slick-caroussel{

    .slick-arrow{
        background: $theme;
        width: 3em;
        height: 100%;
        top: 0;
        margin-top: 0;
        border-radius: $border-radius;
        text-align: center;
        transition: all $transition-duration;

        &:hover{
            background: $theme-dark;
        }

        &:before{
            display: inline-block;
            margin-top: .5em;
            position: relative;
        }

        &.slick-prev{
            left: -4em;
        }

        &.slick-next{
            right: -4em;
        }
    }

    .caroussel__item{
        outline: 0;
    }
}


@include respond-to(mobile) {
    .slick-arrow{
      display: none !important;
    }
}