// Colors
$white:								white;
$black:								#1A1A1A;
$grey:								#333333;
$grey-light:						#8E8E8E;
$grey-lighter:						#F7F7F7;
$yellow:							#F5E460;
$theme-extra-light:					#54CBDA;
$theme-light:						#54CBDA;
$theme:								#1EB5CA;
$theme-dark:						#088AA8;
$site-background-color:				$white;
$page-background-color:				$site-background-color;
$text-color:						$black;
$link-color:						inherit;
$Leaderboard-background:			$theme;
$cat-blog-color:					#84BF38;
$cat-event-color:					#DA8328;
$cat-article-color:					#514191;	
$cat-download-color:				#E53D6C;			


// Dimensions
$vertical-padding:					1em;
$horizontal-padding:				1em;
$section-vertical-padding:			3 * $vertical-padding;
$site-min-width:					600px;
$site-max-width:					900px;
$box-ratio:							45%;
$grid__item-padding:				1em;
$section-narrow-width:				.66;

// Effects and styling
$transition-duration:				0.4s;
$border-radius:						4px;

// https://github.com/ianrose/typesettings
$base-font-size: 					12px;
// $ms-ratio:							2;


// Other
$wp-admin-bar-height:				32px;
$wp-admin-bar-height-plus:			46px;



// Responsive
// ----
// http://www.sitepoint.com/managing-responsive-breakpoints-sass/
// http://sassmeister.com/gist/0614ac3971ae82925ef4
//
// Using em's in case the page get's zoomed in
// ----

$section-padding-tablet:			1em;
$section-padding-mobile:			1.5em;
$screen:       						"only screen and";
$breakpoints: (
  'mobile'  		: '#{$screen} ( max-width: 480px )',
  'tablet'  		: '#{$screen} ( min-width: 480.1px )  and ( max-width: 768px )',
  'desktop' 		: '#{$screen} ( min-width: 768.1px )'
);