body{
	font-family: 'Droid Serif', serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $text-color;

	// https://github.com/ianrose/typesettings
	font-size: ($base-font-size / 16px) * 100%;
	@include setLeading();
}