body{
	font-family: 'Campton Light', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $text-color;

	// https://github.com/ianrose/typesettings
	font-size: ($base-font-size / 16px) * 100%;
	@include setLeading();
}

@mixin bold(){
	font-family: 'Campton SemiBold', sans-serif;
	font-weight: normal;
}

h1,
h2{
	@include bold();
}